@{
    ViewData["Title"] = "Home Page";
}


<div class="container col-xxl-8 px-4 py-5">
    <div class="row g-5 py-5 row-cols-1 row-cols-lg-2">
        <div class="col order-last order-lg-first">
            <h1 class="display-5 fw-bold lh-1 mb-3">Palindrome detector</h1>
            <h4 class="lead">This Website runs scripts which recognise if some word is a Palindrome.This site code is written in C# language and runs as ASP .NET Webiste.</h4>
            <ul class="fa-ul pt checklist">
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSS and Bootstrap</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Fundamentals</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Loops</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Functions</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# IF/THEN/ELSE</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Boolean Logic</li>
            </ul>

            <a class="btn btn-outline-dark btn-lg" asp-controller="Home" asp-action="App">Try it out</a>

            <div class="d-flex">
                <div class="row row-cols-4">
                    <div class="col "><i class="fab fa-js-square fa-4x jsicon"></i></div>
                    <div class="col"><i class="fab fa-bootstrap fa-4x bsicon"></i></div>
                    <div class="col"><i class="fab fa-html5 fa-4x html5icon"></i></div>
                    <div class="col"><i class="fab fa-css3-alt fa-4x css3icon"></i></div>
                </div>
            </div>
            
        </div>
        <div class="col">
            <img src="~/img/PalindromeLogo.png" class="img-fluid center-block d-block mx-auto" alt="Palindrome Detector Logo">
        </div>
    </div>
</div>
